body {
	background:#333333;
	color:lime;
}

table, td, th, tr { 
	background:#333335;
	border:0px solid #AAAAAA;
	text-align:center; 
	border-collapse:collapse; 
}

.resetButton {
	background:gray;
	border:1px solid #AAAAAA;
	color:white;
	text-align:center; 
	border-collapse:collapse; 
	outline:none;
	border-radius:5px;
}

.resetButton:hover {
	border:1px solid black;
	color:lime; 
	outline:none;
}

.numButton {
	padding:15px;
	width:100%;
	border:0px none;
	background:url(./images/buttons/bt1.png) no-repeat;
	background-size: contain;
	font-size:14pt;
	color:black; 
	outline:none;
}

th:hover, td:hover .numButton {
	background:url(./images/buttons/bt2.png) no-repeat;
	background-size: contain;
	color:white; 
}

input[type="text"] {
	border:1px solid gray;
	background:none;
	color:lime;
	border-radius:3px; 
	outline: none;
	font-family: 'digital_display_tfbregular', Arial, sans-serif;
}

.parent {
  position: absolute;
   top: 50%;
   margin-top: -200px;/* half of #content height*/
   left: 0;
   width: 100%;
}

.child {
  margin-left: auto;
  margin-right: auto;
}

#calc_input {
	background:silver;
	color:black;
	font-size: 40pt;
}

@font-face {
    font-family: 'digital_display_tfbregular';
    src: url('digital_display_tfb-webfont.svg#digital_display_tfbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}